<%- include('_layouts/header') -%>



<div class="row products">
    <div class="col-xs-12 col-md-4">
        <a class="pa" href="#">
            <img src="/pictures.banana.jpg" alt="">
        </a>
        <h3>Banana</h3>
        <h4>Price:-20rs</h4>
        <a href="#">View Details</a>
    </div>

</div>



<%- include('_layouts/footer') -%