<!-- <link rel="stylesheet" href="/css/allcategories.css"> -->

<%- include('_layouts/header') -%>

<link rel="stylesheet" href="/css/allcategories.css">


<h1>All Categories</h1>
<div class="row products">


    <div class="col-xs-12 col-md-4 p">
        <a class="pa" href="#">
            <img class="pimage" src="/pictures/fruits.jpg" alt="hello">
        </a>
        <h3>Fruits</h3>
        <!-- <h4>Price:-20rs</h4> -->
        <a class="vd" href="#">View More</a>
    </div>

    <div class="col-xs-12 col-md-4 p">
        <a class="pa" href="#">
            <img class="pimage" src="/pictures/vegetables.jpg" alt="hello">
        </a>
        <h3>vegetables</h3>
        <!-- <h4>Price:-20rs</h4> -->
        <a class="vd" href="#">View More</a>
    </div>

    <div class="col-xs-12 col-md-4 p">
        <a class="pa" href="#">
            <img class="pimage" src="/pictures/dailyproducts.jpg" alt="hello">
        </a>
        <h3>Dairy Products</h3>
        <!-- <h4>Price:-20rs</h4> -->
        <a class="vd" href="#">View More</a>
    </div>

    <div class="col-xs-12 col-md-4 p">
        <a class="pa" href="#">
            <img class="pimage" src="/pictures/beverages.jpg" alt="hello">
        </a>
        <h3>Beverages</h3>
        <!-- <h4>Price:-20rs</h4> -->
        <a class="vd" href="#">View More</a>
    </div>

    <div class="col-xs-12 col-md-4 p">
        <a class="pa" href="#">
            <img class="pimage" src="/pictures/snacks.jpg" alt="hello">
        </a>
        <h3>Snacks</h3>
        <!-- <h4>Price:-20rs</h4> -->
        <a class="vd" href="#">View More</a>
    </div>

    <!-- <div class="col-xs-12 col-md-4 p">
        <a class="pa" href="#">
            <img class="pimage" src="/pictures/biscuits.jpg" alt="hello">
        </a>
        <h3>Biscuits</h3> -->
        <!-- <h4>Price:-20rs</h4> -->
        <!-- <a class="vd" href="#">View More</a>
    </div> -->

    <!-- <div class="col-xs-12 col-md-4 p">
        <a class="pa" href="#">
            <img class="pimage" src="/pictures/milk.jpg" alt="hello">
        </a>
        <h3>Milk</h3> -->
        <!-- <h4>Price:-20rs</h4> -->
        <!-- <a class="vd" href="#">View More</a>
    </div> -->

</div>



<%- include('_layouts/footer') -%>