
<%- include('_layouts/header') -%>


<div class="jumbotron text-center">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Please check your email</strong> to check your order status.</p>
    <hr>
    <p>
      Having trouble? <a href="/users/contact">Contact us</a>
    </p>
    <p class="lead">
      <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
  </div>


  <%- include('_layouts/footer') -%>x